/*LOGIN*/
*, *:before, *:after {
  box-sizing: border-box; }

html {
  overflow-y: scroll; }

body {
  background: #c1bdba;
  font-family: 'Montserrat', sans-serif; }

a {
  text-decoration: none;
  color: orange;
  transition: .5s ease; }

a:hover {
  color: #179b77; }

.form {
  background: rgba(19, 35, 47, 0.9);
  padding: 40px;
  max-width: 600px;
  margin: 40px auto 100px auto;
  border-radius: 4px;
  box-shadow: 0 4px 10px 4px rgba(19, 35, 47, 0.3); }

.tab-group {
  list-style: none;
  padding: 0;
  margin: 0 0 40px 0; }

.tab-group:after {
  content: "";
  display: table;
  clear: both; }

.tab-group li a {
  display: block;
  text-decoration: none;
  padding: 15px;
  background: rgba(160, 179, 176, 0.25);
  color: #a0b3b0;
  font-size: 20px;
  float: left;
  width: 50%;
  text-align: center;
  cursor: pointer;
  transition: .5s ease; }

.tab-group li a:hover {
  background: orange;
  color: #ffffff; }

.tab-group .active a {
  background: orange;
  color: #ffffff; }

.tab-content > div:last-child {
  display: none; }

h1 {
  text-align: center;
  color: #ffffff;
  font-weight: 300;
  margin: 0 0 40px; }

label {
  position: absolute;
  -webkit-transform: translateY(6px);
  transform: translateY(6px);
  left: 13px;
  color: rgba(255, 255, 255, 0.5);
  transition: all 0.25s ease;
  -webkit-backface-visibility: hidden;
  pointer-events: none;
  font-size: 20px; }

label .req {
  margin: 2px;
  color: orange; }

label.active {
  -webkit-transform: translateY(50px);
  transform: translateY(50px);
  left: 2px;
  font-size: 14px; }

label.active .req {
  opacity: 0; }

label.highlight {
  color: #ffffff; }

input, textarea {
  font-size: 22px;
  display: block;
  width: 100%;
  height: 100%;
  padding: 5px 10px;
  background: none;
  background-image: none;
  border: 1px solid #a0b3b0;
  color: #ffffff;
  border-radius: 0;
  transition: border-color .25s ease, box-shadow .25s ease; }

input:focus, textarea:focus {
  outline: 0;
  border-color: orange; }

textarea {
  border: 2px solid #a0b3b0;
  resize: vertical; }

.field-wrap {
  position: relative;
  margin-bottom: 40px; }

.top-row:after {
  content: "";
  display: table;
  clear: both; }

.top-row > div {
  float: left;
  width: 48%;
  margin-right: 4%; }

.top-row > div:last-child {
  margin: 0; }

.button {
  border: 0;
  outline: none;
  border-radius: 0;
  padding: 15px 0;
  font-size: 1.5rem;
  font-weight: 600;
  text-transform: uppercase;
  letter-spacing: .1em;
  background: grey;
  color: #ffffff;
  transition: all 0.5s ease;
  -webkit-appearance: none; }

.button:hover, .button:focus {
  background: orange; }

.button-block {
  margin: 0 auto;
  display: block;
  width: 50%; }

.forgot {
  margin-top: -20px;
  text-align: right; }

/*CART*/
.table > tbody > tr > td, .table > tfoot > tr > td {
  vertical-align: middle; }

@media screen and (max-width: 600px) {
  table#cart tbody td .form-control {
    width: 20%;
    display: inline !important; }
  .actions .btn {
    width: 36%;
    margin: 1.5em 0; }
  .actions .btn-info {
    float: left; }
  .actions .btn-danger {
    float: right; }
  table#cart thead {
    display: none; }
  table#cart tbody td {
    display: block;
    padding: .6rem;
    min-width: 320px; }
  table#cart tbody tr td:first-child {
    background: #333;
    color: #fff; }
  table#cart tbody td:before {
    content: attr(data-th);
    font-weight: bold;
    display: inline-block;
    width: 8rem; }
  table#cart tfoot td {
    display: block; }
  table#cart tfoot td .btn {
    display: block; } }

    /*

    <?php

    //Assign database details to variables
    define('DBHOST', 'localhost');
    define('DBUSER', 'root');
    define('DBPASS', 'oranges11');
    define('DBNAME', 'atomthemedb');

    //Setup database connection
    $conn = mysqli_connect(DBHOST, DBUSER, DBPASS, DBNAME);

    //Check if connection was successful
    if(!$conn){
        die("<span style='color:red;'>Error connecting to database</span>");
    }else{
        //echo "connected successfully";
    }

    session_start(); //Run session

    define('DIR', 'http://localhost:8080/atomtheme/');//Attach root to DIR variable
    define('DIR_ADMIN', 'http://localhost:8080/atomtheme/admin/');//Attach admin to DIR_ADMIN variable

    define('SITE_TITLE', 'Atom - An E-Commerce Template'); //site title

    ?>

    */
